[MESSAGES CONTROL]
disable=assignment-from-no-return, bad-continuation, bad-indentation, broad-except, duplicate-code, inconsistent-return-statements, invalid-name, len-as-condition, line-too-long, misplaced-comparison-constant, missing-docstring, no-else-return, no-self-use, old-style-class, protected-access, redefined-builtin, singleton-comparison, too-few-public-methods, too-many-branches, too-many-instance-attributes, too-many-lines, too-many-public-methods, too-many-return-statements, too-many-statements, undefined-variable, unidiomatic-typecheck, unused-argument, unused-import, unused-variable, wrong-import-position
