apiVersion: v1
kind: PersistentVolume
metadata:
  labels:
    foo: "{{ test_label }}"
  name: test-persistentvolume
{% if test_openshift_version is version_compare('v3.10', '>=') %}
  finalizers: [kubernetes.io/pv-protection]
{% endif %}
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 10Gi
  nfs:
    path: /export/foo
    server: nfsserver.example.com
  persistentVolumeReclaimPolicy: Retain
