apiVersion: v1
kind: ClusterResourceQuota
metadata:
  name: test-clusterresourcequota
spec:
  quota:
    hard:
      pods: "{{ quota_pods }}"
      secrets: "{{ quota_secrets }}"
  selector:
    annotations:
      openshift.io/requester: testuser
    labels: null
