apiVersion: v1
kind: ClusterResourceQuota
metadata:
  name: test-clusterresourcequota
spec:
  quota:
    hard: {{ quota | to_json }}
  selector:
    annotations:
      openshift.io/requester: testuser
    labels: null
