---
apiVersion: v1
kind: PersistentVolume
metadata:
{% if persistent_volume_labels %}
  labels: {{ persistent_volume_labels | to_json }}
{% endif %}
  name: test-persistentvolume
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 10Gi
  nfs:
    path: /export/foo
    server: nfsserver.example.com
