---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels: {{ persistentvolumeclaim_labels | to_json }}
  name: test-persistentvolumeclaim
{% if openshift_version is version_compare('v3.10', '>=') %}
  finalizers: [kubernetes.io/pvc-protection]
{% endif %}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
