---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: test-serviceaccount
{% if serviceaccount_image_pull_secrets is defined %}
imagePullSecrets:
{% for secret in serviceaccount_image_pull_secrets %}
- name: {{ secret | to_json }}
{% endfor %}
{% endif %}
{% if serviceaccount_secrets is defined %}
secrets:
{% for secret in serviceaccount_secrets %}
- name: {{ secret | to_json }}
{% endfor %}
{% endif %}
