apiVersion: v1
kind: BuildConfig
metadata:
  name: test-buildconfig
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: testbuild:latest
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    git:
      uri: https://nosuch.example.com/blah.git
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: "{{ from_source_name }}"
        namespace: openshift
    type: Source
  triggers: []
