---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels: {{ persistentvolumeclaim_labels | to_json }}
  name: test-persistentvolumeclaim
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
