apiVersion: v1
kind: Secret
metadata:
  name: {{ app_name |to_json}}
  annotations:
    openshift-provision/action: create
stringData:
  # to_json filter is a safe and effective way to quote for YAML generation
  cakephp-secret-token: {{ init_app_cakephp_secret_token |to_json}}
  cakephp-security-cipher-seed: {{ init_app_cakephp_security_cipher_seed |to_json}}
  cakephp-security-salt: {{ init_app_cakephp_security_salt |to_json}}
  database-password: {{ init_database_password |to_json}}
  database-user: {{ init_database_user |to_json}}
