apiVersion: v1
kind: DeploymentConfig
metadata:
  annotations:
    description: Defines how to deploy the application server
    template.alpha.openshift.io/wait-for-ready: "true"
  name: {{ app_name |to_json}}
spec:
  replicas: 1
  selector:
    name: {{ app_name |to_json}}
  strategy:
    recreateParams:
      pre:
        execNewPod:
          command:
          - ./migrate-database.sh
          containerName: cakephp-mysql-example
        failurePolicy: Retry
    type: Recreate
  template:
    metadata:
      labels:
        name: {{ app_name |to_json}}
      name: {{ app_name |to_json}}
    spec:
      containers:
      - env:
        - name: DATABASE_SERVICE_NAME
          value: {{ database_service_name |to_json}}
        - name: DATABASE_ENGINE
          value: {{ database_engine |to_json}}
        - name: DATABASE_NAME
          value: {{ database_name |to_json}}
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              key: database-user
              name: {{ app_name |to_json}}
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: {{ app_name |to_json}}
        - name: CAKEPHP_SECRET_TOKEN
          valueFrom:
            secretKeyRef:
              key: cakephp-secret-token
              name: {{ app_name |to_json}}
        - name: CAKEPHP_SECURITY_SALT
          valueFrom:
            secretKeyRef:
              key: cakephp-security-salt
              name: {{ app_name |to_json}}
        - name: CAKEPHP_SECURITY_CIPHER_SEED
          valueFrom:
            secretKeyRef:
              key: cakephp-security-cipher-seed
              name: {{ app_name |to_json}}
        - name: OPCACHE_REVALIDATE_FREQ
          value: {{ app_opcache_revalidate_freq |default("2")|to_json}}
        image: ' '
        livenessProbe:
          httpGet:
            path: /health.php
            port: 8080
          initialDelaySeconds: 30
          timeoutSeconds: 3
        name: cakephp-mysql-example
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /health.php
            port: 8080
          initialDelaySeconds: 3
          timeoutSeconds: 3
        resources:
          limits:
            memory: {{ app_memory_limit |default("512Mi")|to_json}}
  triggers:
  - type: ImageChange
    imageChangeParams:
      automatic: true
      containerNames:
      - cakephp-mysql-example
      from:
        kind: ImageStreamTag
        name: {{ (app_name ~ ':latest') |to_json}}
