apiVersion: v1
kind: Service
metadata:
  annotations:
    description: Exposes the database server
  name: {{ database_service_name |to_json}}
spec:
  ports:
  - name: mysql
    port: 3306
    targetPort: 3306
  selector:
    name:  {{ database_service_name |to_json}}
