apiVersion: v1
kind: DeploymentConfig
metadata:
  annotations:
    description: Defines how to deploy the database
    template.alpha.openshift.io/wait-for-ready: "true"
  name: {{ database_service_name |to_json}}
spec:
  replicas: 1
  selector:
    name: {{ database_service_name |to_json}}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: {{ database_service_name |to_json}}
      name: {{ database_service_name |to_json}}
    spec:
      containers:
      - env:
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              key: database-user
              name: {{ app_name |to_json}}
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: {{ app_name |to_json}}
        - name: MYSQL_DATABASE
          value: {{ database_name |to_json}}
        image: ' '
        livenessProbe:
          initialDelaySeconds: 30
          tcpSocket:
            port: 3306
          timeoutSeconds: 1
        name: mysql
        ports:
        - containerPort: 3306
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -i
            - -c
            - MYSQL_PWD="${MYSQL_PASSWORD}" mysql -h 127.0.0.1 -u ${MYSQL_USER}
              -D ${MYSQL_DATABASE} -e 'SELECT 1'
          initialDelaySeconds: 5
          timeoutSeconds: 1
        resources:
          limits:
            memory: {{ database_memory_limit |default('512Mi')|to_json}}
        volumeMounts:
        - mountPath: /var/lib/mysql/data
          name: data
      volumes:
      - emptyDir: {}
        name: data
  triggers:
  - imageChangeParams:
      automatic: true
      containerNames:
      - mysql
      from:
        kind: ImageStreamTag
        name: mysql:5.7
        namespace: {{ database_image_namespace |default('openshift')|to_json}}
    type: ImageChange
  - type: ConfigChange
